*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.container{
    /* arah scrol */
    scroll-snap-type: y mandatory;
    /* scroll-behavior: smooth; */
    overflow-y: scroll;
    height: 100vh;
}
.container section:nth-child(1){
    background-color: rgb(255, 134, 186);
}
.container section:nth-child(2){
    background-color: rgb(170, 134, 255);
}
.container section:nth-child(3){
    background-color: rgb(134, 255, 243);
}